<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid" id = "blue-nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hang</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <%= form_for(@user, as: "user", url: session_path(@user)) do |f| %>
              <li><div class="form-group"><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "email" %></div></li>
              <li><div class-"form-group"><%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "password"  %></div></li>
              <li class="divider"></li>
              <li><div><%= f.submit "Sign in", :class => "btn btn-primary" %></div></li>
              <% end %>
          </ul>
        </li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class = "jumbotron">
  <div class = "container-fluid">
    <div class = "row">
      <div class= "col-xs-6 col-xs-offset-1" id="jumbo-text">
        <h1>Welcome to Hang</h1>
        <p>Do you want to hang?</p>
        <div class="row" id ="spacer">
          <div class="col-xs-6">
              <fieldset>
                <%= form_for(@user, as: "user", url: registration_path(@user)) do |f| %>
                <div class="form-group"><%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
                </div>

                <div class="form-group"><%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                </div>

                <div class = "form-group"><%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %></div>

                <div><%= f.submit "Sign up", :class => 'btn btn-primary'%></div>
              <% end %>
              </fieldset>
            







          </div>
        </div>
      </div>
      <div class = "col-xs-4" id="fist">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://slack-files.com/files-tmb/T02EXT976-F02EY294P-60b524/hang_dark__2_360.png" alt="...">
            </div>
            <div class="item">
              <img src="https://slack-files.com/files-tmb/T02EXT976-F02EY3ACV-09f82e/matches_dark_360.png" alt="...">
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

	<!-- Graham, this is the form.  Put it anywhere you want and style it with css.  Thanks -->



<!--
<div class = "jumbotron">
  <div class = "container">
    <div class= "col-xs-6 col-xs-offset-3 well">
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <div class="new_html_code"></div>
            <div class="carousel-caption">
              <div class="row">
                <p id = "dth-block">I'm down to hang</p>
              </div>
              <div class ="row">
                <p>at</p>
                <div class="btn-group btn-input clearfix">
                  <button type="button" class="btn btn-default dropdown-toggle form-control" id="dropdown-button" data-toggle="dropdown">
                    <span data-bind="label">now</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                  </ul>
                </div>
              </div>
              <div class = "row">
                <p>for</p>
                <div class="btn-group btn-input clearfix">
                  <button type="button" class="btn btn-default dropdown-toggle form-control" id="dropdown-button" data-toggle="dropdown">
                    <span data-bind="label">whenever</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">the night</a></li>
                    <li><a href="#">one hour</a></li>
                    <li><a href="#">two hours</a></li>
                  </ul>
                </div>
              </div>
              <div class = "row">
                <p>I want to</p>
                <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" id="btn-plus">+</button>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <ul class="list-unstyled">                    
                    <li>Test</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="item">
            <div class="new_html_code"></div>
            <div class="carousel-caption">
              <div class = "row">
                <div class="panel panel-default">
                  <div class="panel-body">
                      <div class="media">
                        <a class="pull-left" href="">
                          <img class="media-object" src="http://img.brothersoft.com/icon/softimage/i/iquotetracker-335801-1265010136.jpeg">
                        </a>
                        <div class="media-body">
                          <a href="#"><h4 class="media-heading">Sarah Turk</h4></a>
                          <ul class="list-inline">
                            <li>12m</li>
                            <li>Basketball</li>
                            <li>Bars</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="list-group">
        <a href="#" class="list-group-item">hit the clubs</a>
        <a href="#" class="list-group-item">play golf</a>
        <a href="#" class="list-group-item">eat dinner</a>
        <a href="#" class="list-group-item">see a movie</a>
      </div>
    </div>
  </div>
</div>
-->


      

  <!-- Controls -->


        <!-- table class = "pics-table">
          <tbody>
            <tr>
              <td><img src = "http://www.reachingcampus.com/wp-content/uploads/2012/04/hanging-out2.jpg"></td>
              <td><img src = "http://www.reachingcampus.com/wp-content/uploads/2012/04/hanging-out2.jpg"></td>
              <td><img src = "http://www.reachingcampus.com/wp-content/uploads/2012/04/hanging-out2.jpg"></td>
            </tr>
            <tr>
              <td><img src = "http://www.reachingcampus.com/wp-content/uploads/2012/04/hanging-out2.jpg"></td>
              <td><img src = "http://www.reachingcampus.com/wp-content/uploads/2012/04/hanging-out2.jpg"></td>
              <td><img src = "http://www.reachingcampus.com/wp-content/uploads/2012/04/hanging-out2.jpg"></td>
            </tr>
            <tr>
              <td><img src = "http://www.reachingcampus.com/wp-content/uploads/2012/04/hanging-out2.jpg"></td>
              <td><img src = "http://www.reachingcampus.com/wp-content/uploads/2012/04/hanging-out2.jpg"></td>
              <td><img src = "http://www.reachingcampus.com/wp-content/uploads/2012/04/hanging-out2.jpg"></td>
            </tr>
          </tbody>
-->