<!-- Modal -->
<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Menu</h4>
      </div> -->
      <div class="modal-body">
      	<p class="lead">Hello, <%= current_user.name || current_user.email %></p>

        <!-- Nav tabs -->
		<ul class="nav nav-tabs" id="menu_tabs" role="tablist">
		  <li class="active"><a href="#people_content" role="tab" data-toggle="tab">People</a></li>
		  <li><a href="#friends_content" role="tab" data-toggle="tab">Friends</a></li>
		  <li><a href="#requests_content" role="tab" data-toggle="tab">Invites</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="people_content">
		  	<% @users.each do |f| %>
		  		<div class="row request-row">
		  			<div class="col-xs-3">
		  				<p class="text-center">
		  					<%= image_tag("placeholder.png", :class=> "img-circle profile-pic") %>
		  				</p>
		  			</div>
		  			<div class="col-xs-9">
		  				<p class="lead"><%= f.name || f.email %></p>
		  				<p class="lead">
		  					<button class="btn btn-primary pull-right send-request-btn" data-id="<%= f.id %>">Send Friend Request</button>
		  				</p>
		  			</div>
		  		</div>
		  	<% end %>
		  </div>
		  <div class="tab-pane" id="requests_content">
		  	<% @requestors.each do |f| %>
		  		<div class="row request-row">
		  			<div class="col-xs-12">
		  			<p class="lead">
		  				<i class="fa fa-envelope"></i>
		  				<%= f.name || f.email %>
		  				<button class="btn btn-success pull-right accept-request-btn" data-id="<%= f.id %>">Accept</button>
		  			</p>
		  			</div>
		  		</div>
		  	<% end %>
		  </div>
		  <div class="tab-pane" id="friends_content">
		  	<% if @friends.count <= 0 %>
		  		<p class="lead text-center message">No friends yet.  Add some!</p>
		  	<% end %>
		  	<% @friends.each do |f| %>
		  		<div class="row request-row">
		  			<div class="col-xs-3">
		  				<p class="text-center">
		  					<%= image_tag("placeholder.png", :class=> "img-circle profile-pic") %>
		  				</p>
		  			</div>
		  			<div class="col-xs-9">
		  				<p class="lead"><%= f.name || f.email %></p>
		  			</div>
		  		</div>
		  	<% end %>
		  </div>
		</div>
      </div>
      <div class="modal-footer">
      	<%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-danger pull-left") %> 
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Set Start Time</h4>
      </div>
      <div class="modal-body">
        <div class="dropdown">
		  <button class="btn btn-default btn-block dropdown-toggle" type="button" id="start_dropdown" data-hour="20" data-toggle="dropdown">
		    8:00pm
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="start_dropdown">
		  	<li role="presentation"><a role="menuitem" tabindex="-1" data-hour="12" data-dismiss="modal">12:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="13" data-dismiss="modal">1:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="14" data-dismiss="modal">2:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="15" data-dismiss="modal" >3:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="16" data-dismiss="modal">4:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="17" data-dismiss="modal">5:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="18" data-dismiss="modal">6:00pm</a></li>
   		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="19" data-dismiss="modal">7:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="20" data-dismiss="modal">8:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="21" data-dismiss="modal">9:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="22" data-dismiss="modal">10:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="23" data-dismiss="modal">11:00pm</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="0" data-dismiss="modal">12:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="1" data-dismiss="modal">1:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="2" data-dismiss="modal">2:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="3" data-dismiss="modal">3:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="4" data-dismiss="modal">4:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="5" data-dismiss="modal">5:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="6" data-dismiss="modal">6:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="7" data-dismiss="modal">7:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="8" data-dismiss="modal">8:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="9" data-dismiss="modal">9:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="10" data-dismiss="modal">10:00am</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-hour="11" data-dismiss="modal">11:00am</a></li>
		  </ul>
		</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="durationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Set Duration</h4>
      </div>
      <div class="modal-body">
        <div class="dropdown">
		  <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
		    2 hours
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-duration="1" data-dismiss="modal">1 hour</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-duration="2" data-dismiss="modal">2 hours</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-duration="3" data-dismiss="modal">3 hours</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-duration="4" data-dismiss="modal">4 hours</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-duration="5" data-dismiss="modal">5 hours</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-duration="6" data-dismiss="modal">6 hours</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-duration="7" data-dismiss="modal">7 hours</a></li>
		  </ul>
		</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="activitiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Categories</h4>
      </div>
      <div class="modal-body">
        <div class="dropdown">
		  <button class="btn btn-default btn-block dropdown-toggle" type="button" id="activityMenu1" data-toggle="dropdown">
		    go golfing
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-dismiss="modal">chill</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-dismiss="modal">go golfing</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-dismiss="modal">see a movie</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-dismiss="modal">grab dinner</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-dismiss="modal">go to the park</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-dismiss="modal">play basketball</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-dismiss="modal">hit the bars</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" data-dismiss="modal">get fucking shwasted</a></li>
		  </ul>
		</div>
      </div>
    </div>
  </div>
</div>


<div id="home_background" class="night">
	<div class="container">
		<div class="row">
			<div id="sentence" class="col-md-offset-4 col-md-4 col-xs-12">
				<!-- Button trigger modal -->
				<p class="text-center">
					<a data-toggle="modal" data-target="#menuModal">
						<%= image_tag("hang_logo_night.png") %>
					</a>
				</p>

				<h1>I'm down to hang</h1>
				<h1>at <a id="start" class="green-text night" data-hour="20" data-toggle="modal" data-target="#startModal">8:00pm</a></h1>
				<h1>for <a id="duration" class="green-text night" data-duration="2" data-toggle="modal" data-target="#durationModal">1 hour</a></h1>
				<h1>I want to</h1>
				<ul class="list-unstyled" id="actList">
					<li><h1><a class="green-text night activityItem" id="firstActivity">chill</a></h1></li>
					<!-- <ul id="categories">
						<li>I want to hangout</li>
					</ul> -->
				</ul>
				<h1><a id ="activity" data-toggle="modal" data-target="#activitiesModal"><i id="add_category_btn" class="fa fa-plus"></i></a></h1>

				<button id="hang_btn" class="btn btn-block btn-lg">Select friends</button>
			</div>
		</div>
	</div>
</div>
